<h1>Search Friends</h1>

<div class="user_search_wrapper">
   <form class="user_search_form">
     <input type="text" class="user_search_text" />
     <button class="user_search_button">Search</button>
   </form>
   <div class="user_results"></div>
 </div>

<% if @friends.present? %>
  <ul>
    <% @friends.each do |friend| %>
    <li>
      <%= check_user_image_small(friend) %>
      <%= link_to friend.name, user_path(friend.id) %>
      <%= button_to "Message", messages_path(friend.id), class: "message_friends", id: friend.id, method: :get %>
    </li>
    <% end %>
  </ul>

  <% else %>
  <p>Find Your Friends and Start Messaging!</p>
<% end %>
