<h1>Session#home</h1>
<p>Find me in app/views/session/home.html.erb</p>


<div class="content" >
  <h2>User Home Page</h2>

  <div>
  |
  <%= link_to "Logout", login_path, method: 'delete' %>
  |
  </div>

</div>
