<h2>Your Profile</h2>
<hr>

<p>
<strong>Name:</strong> <%= @user.name %>
</p>
<p>
<strong>Email: </strong><%= @user.email %>
</p>
<p>
<strong>Profile Image: </strong><%= @user.image %>
</p>
<p> <%= link_to "Edit Profile", edit_user_path %>
