/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

html, body, div, nav, header, footer, ul, li, label, input, textarea, button, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

a:hover {
  color: #FA4542;
  text-decoration: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.selected {
  background-color: rgb(235, 235, 235);
}

.vertical-alignment {
  display: flex;
  align-items: center;
}

.empty_message {
  padding: 40px 40px;
}

.notification {
  padding: 20px;
  background-color: #262525;
  color: white;
  z-index: 1000;
}

.notification a {
  color: white;
}

/* ---------------------- Homepage ---------------------- */

.main_nav {
  background-color: #262525;
  color: white;
  height: 100vh;
}

.main_nav_logo_wrapper {
  margin: 30px;
}

.main_nav_logo_ {
  margin: 30px;
}

.main_nav_item a {
  color: white;
  font-size: 20px;
}

.main_nav_item a:hover {
  color: #FA4542;
  text-decoration: none;
}

.main_nav_item {
  padding-left: 40px;
}

.main_nav_item li {
  padding: 10px 0;
}

h1 {
  font-size: 44px;
  margin-bottom: 40px;
}

.sm-text {
  font-size: 12px;
}

.no-padding {
  padding: 0px;
}

.copy_msg {
  position: fixed;
  bottom: 20px;
  left: 30px;
  font-style: 14px;
}

/* ------------------------ Forms ----------------------- */

.message_search_form, .user_search_form {
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
}

.message_search_text, .user_search_text {
  height: 30px;
  border: 1px solid #aeacac;
  border-radius: 0;
}

.message_search_button, .user_search_button {
  background-color: #262525;
  color: white;
  border: none;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.message_search_button:hover, .user_search_button:hover {
  background-color: #FA4542;
}

label {
  height: 40px;
}


/* ---------------------- Messages ---------------------- */

.message_nav {
  background-color: #F6F6F6;
  padding: 30px 20px;
  height: 100vh;
  overflow: auto;
}

.message_list_item {
  padding: 20px 10px;
  cursor: pointer;
}

.message_window_wrapper {
  height: 100vh;
  overflow: auto;
  position: relative;
  padding-bottom: 200px;
}

.message_friends {
  background-color: #262525;
  color: white;
  border: none;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.message_send_wrapper {
  position: fixed;
  bottom: 0;
  background-color: white;
  padding: 20px;
  width: 100%;
  // border-top: 1px solid #aeacac
}

.message_window {
  padding-bottom: 100px;
}

.message_window li {
  padding: 10px 0;
}

/* -------------------- Message Send -------------------- */

textarea {
  resize: none;
  background-color: #f0f0f0;
  border: 0px;
  display: block;
  width: 40%;
  margin: 10px 0 20px 0;
  padding: 15px;
  height: 40px;
}

.message_send_button {
  background-color: #262525;
  color: white;
  border: none;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

/* ------------------- Message Search ------------------- */

.message_results {
  height: 400px;
  overflow-y: auto;
  background-color: #fff;
}

.message_results li {
  padding: 5px 0;
}

/* ------------------- Friends Search ------------------- */

.user_results {
  height: 300px;
  overflow-y: auto;
  background-color: #fff;
}

.user_results li {
  padding: 5px 0;
}

.view_profile {
  cursor: pointer;
}

.view_profile:hover {
  color: #FA4542;
}

/* ----------------------- Friends ---------------------- */

.friends_nav {
  background-color: #F6F6F6;
  padding: 30px 40px;
  height: 100vh;
}

.friends_list_item {
  padding: 20px 10px;
}

/* ---------------------- Requests ---------------------- */

.requests_nav {
  background-color: #F6F6F6;
  padding: 30px 40px;
  height: 100vh;
}

.requests_tab li {
  display: inline-block;
  padding: 10px 20px;
}

.requests_tab li h4:hover {
  color: #FA4542;
  cursor: pointer;
}

.requests_list_item {
  padding: 20px 10px;

}

/* ------------------------ Users ----------------------- */

.user_avatar {
  margin: 20px auto 10px;
}

.profile_image_small {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #dcdcdc
}

.profile_image_large {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #dcdcdc
}

#link_current {
  padding-bottom: 15px;
  border-bottom: 2px solid #FA4542;
}

/* ----------------------- Profile ---------------------- */

.user_profile {
  margin-top: 40px;
}

.notification {
  position: fixed;
  z-index: 100;
  right: 20px;
  bottom: 40px;
}

.progress_bar{
  /* display: none; */
  width: 0px;
  height: 15px;
  /* border: 1px solid black; */
  background-color: green;
}

.progress_bar_parent{
  display: inline-block;
  width: 150px;
}

/* --------------------- User Login --------------------- */

.user_login {
  margin-top: 40px;
}

.edit_form {
  margin: 20px 0 20px 0;
  font-size: 16px;
}

.edit_form label {
  display: block;
  font-weight: bold;
}

.edit_form input {
  background-color: #f0f0f0;
  border: 0px;
  height: 40px;
  display: block;
  width: 600px;
  margin: 10px 0 10px 0;
  padding: 0 15px;
}

.edit_button {
  margin-top: 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  padding: 0 20px;
  background-color: #262525;
}
